
@{
    ViewBag.Title = "Career";    
}



<div class="section-header text-center">
    
    <div class="container">
        <h2>Career</h2>
        <div class="entry">
            <p>Being one of the leading Indian Manpower Outsourcing Company, Rajinfo Technology Services Pvt. Ltd. strongly believe that increasing its reach and generating market penetration which will help us continue our growth as an manpower outsourcing company at a very fast rate. We keep looking at adding our resources in different forms. As it is well known fact that good manpower is the foundation of any organization to which Rajinfo Technology Services Pvt. Ltd. is dedicated. While working with India’s leading manpower outsourcing company, you will find a big difference as compared to other leading names in manpower outsourcing.</p>
            <p>Presently we are dedicated to manpower outsourcing in government departments, corporate, non government organization and leading company looking to outsource their manpower supplies. In addition we also provide data collection, digitization, translation, transcription, interpretation.</p>
            <p>Candidates who are looking for growth &nbsp;oriented organization are most welcome to associate with India’s leading manpower outsourcing company Rajinfo Technology Services Pvt. Ltd. as full and part time data entry operators, computer operators, freelance translators, Interpreters, Investigators, IT Specialists etc.. You are advised to share your detailed CV with us for screening and deploying you in most suitable profile.</p>
            <p><strong>Currently we are looking for candidates for following posts</strong></p>
            <p><strong>IT Specialist</strong></p>
            <p>Post – One</p>
            <p>Qualification – M.Tech (IT) / M.Sc. (IT)/MCA</p>
            <p>Experience Minimum 3 years in MIS &amp; GIS work, Web Portal &amp; Social Media Management</p>
            <p>Monthly Honorarium&nbsp;- Rs. 25,000</p>
            <p>Contract Period – 1 Year</p>
            <p><strong>Research and Planning Associate</strong></p>
            <p>Post – One</p>
            <p>Qualification – Post Graduate or Diploma in Rural Development</p>
            <p>Experience – Minimum 2 years experience in relevant field</p>
            <p>Monthly Honorarium – 15,000</p>
            <p>Contract Period – 1 Year</p>
            <p><strong>Office Assistant</strong></p>
            <p>Post – One</p>
            <p>Qualification – Graduate &amp; Diploma in Computer</p>
            <p>Experience – Minimum 2 years experience in computer operation and office work</p>
            <p>Monthly Honorarium – 8,000 to 10,000</p>
            <p>Contract Period – 1 year</p>
            <p><strong>Peon (House Keeping)</strong></p>
            <p>Post – 2</p>
            <p>Qualification – 8th Pass</p>
            <p>Monthly Honorarium – 5,000</p>
            <p>Contract Period – 1 year</p>
            <p>Pls write to us at : info@rajitservices.com or rajitservices@yahoo.com</p>
        </div>
    </div>
    </div>