
@{
    ViewBag.Title = "CompanyProfile";
}


 
    <div class="section-header text-center">
        <div class="container ">
            <h2>CompanyProfile</h2>
            <div class="we-do-details">
                <div class="entry">
                    <p><strong>Avail Professional Back-Office Support Services at One Stop-</strong></p>
                    <p><strong>Rajinfo Technology Services Pvt. Ltd.</strong>, a professional outsourcing company based out of India and established in 2012 for providing one stop Back office support services. The solutions that we offer include HR Solutions, Language Solutions and Data Solutions. In today’s business environment of cutthroat competition, not only corporate but also NGOs and Government are striving to cut costs by focusing on the area of their core competence and outsourcing ancillary business services such as Human Resource, Administration, Accounts &amp; Finance and all other back office support services. To enable organisations remain focused on their core area, our company provides one stop support solution for back office operations by providing solutions based on the specific needs of an organization.</p>
                    <p><strong>HR SOLUTIONS:-</strong> Corporate,  NGOs and Govt. departments now wish to get rid of legal complications arising out of compliances relating to labor law such as Provident Fund, Employee State Insurance, Gratuity and other labor rules including lay-off due to project closures. Our company helps you in smooth and hassle free business operations by providing complete HR Solutions which includes your HR need assessment, Interviewing, short-listing, training, orientation, induction, placement, follow-up, performance appraisal, Payroll Processing and Labour law Compliances etc.</p>
                    <p><strong>LANGUAGE SOLUTION:-</strong> Due to advancement in technology and digitization, world has become a global village and therefore cultures &amp; businesses across nations are booming.  However, language is creating barriers in smooth business operations across nations. To overcome this barrier of language, our company provides language solutions that includes Translation, Transcription, Interpretation and localization.</p>
                    <p><strong>DATA SOLUTION:-</strong> We provide Data Solution that includes Online and Offline Data Entry, Digitization, Market Research, Data Collection, Data Analysis and Report Generation.</p>
                    <p>We are confident that the services being offered by our company are of utmost need for any organization and key in cost cutting for being better competitive in today’s business environment. We are hopeful that you will find our aforementioned services in the interest of your organization and will provide us a chance to understand your needs to provide you best possible solutions and services that meets your requirements. </p>
                    <p>
                        <strong>Affiliation : </strong><br>
                        Rajinfo Technology Services Pvt. Ltd. is member of Indian Translators Association. The membership no. of the company is A23122015.
                    </p>
                    <p>
                        <strong>Our Clients</strong><br>
                        <strong>Rajinfo Technology Services Pvt. Ltd. is serving numerous clients across the globe and below listed are the clients to name a few:-</strong>
                    </p>
                    <p>
                        Debt Recovery Tribunal (Ministry of Finance, Government of India)<br>
                        Infosys Limited, Bangalore (A Leading IT Company)<br>
                        National Engineering Industries (NBC) Ltd. (Leading Automobile Equipment Manufacturer)<br>
                        Rajasthan State Co-operative Bank Ltd. (APEX Body of Cooperative Banks)<br>
                        Department of Animal Husbandry, Nagour (Government of Rajasthan)<br>
                        Indian Institute of Health Management and Research (Leading Research Organization)<br>
                        Health Care Global Limited, Jaipur<br>
                        Grant Thornton<br>
                        Sardar Patel University of Police, Security and Criminal Justice (Dedicated University for Police and Security)<br>
                        ABT Associates, New Delhi (Leading NGO working in the field  of Medical &amp; Health)<br>
                        Indian Council of Medical Research (India’s prestigious organization for medical research)<br>
                        Sygeta Foundation India (Leading organization working for farmers)<br>
                        Larsen and Toubro Limited (Leading name in Infrastructure Development)<br>
                        National Dairy Development Board Dairy Services (NDDB), New Delhi (A regulatory authority for dairies)<br>
                        Rajasthan State Gas Limited (RSGL), Jaipur<br>
                        Shri Ram General Insurance Company Limited, Jaipur (Leading General Insurance Company of Private Sector)<br>
                        Child Development Project Officer (CDPO), Chaksu (Department of Women and Child Development, Government of India)<br>
                        BGR Energy Systems Limited, Jaipur (Leading Infrastructure Company of Private Sector)<br>
                        Directorate of Revenue Intelligence, New Delhi (Government of India)<br>
                        Hindustan Latex Family Planning Promotion Trust (HLFPPT) (Leading Non Government Organization Working in Development Sector)<br>
                        Engender Health, Jaipur (Leading Non Government Organization Working in Development Sector)<br>
                        WISH Foundation, Jaipur (Leading Non Government Organization Working in Development Sector)<br>
                        Bajaj Auto Finance Limited, Pune (Leading Automobile Finance Company)<br>
                        Hetero Health Care Limited, Mumbai (Cancer Research Institute)<br>
                        Tata Motors Limited, Jaipur (A Unit of Tata Group in Automobile Sector)<br>
                        Bajaj Allianz General Insurance Co., Ltd., Jaipur (Leading Insurance Company of Bajaj Group)<br>
                        Paayas Milk Producers Company Limited (One of the fastest emerging Dairy Company of Rajasthan)<br>
                        Mother Dairy, New Delhi (Leading name in Dairying &amp; Farming)<br>
                        National Insurance company Ltd. (NIC), Jaipur (Leading General Insurance Company of Public Sector)<br>
                        Narayana Hrudayalaya, Narayana Multi Specialty Hospital, Jaipur (One of the biggest Private Multispecialty Hospital)<br>
                        Airport Authority of India (AAI), Jaipur<br>
                        Bharat Petroleum Corporation Limited (BPCL) Jaipur (Leading Indian Oil and Natural Gas Company)<br>
                        IMRB, Mumbai (Leading International Market Research Company)<br>
                        ITC Limited (A leading company in FMCG and Hospitality)<br>
                        Jaipur Vidhyut Vitran Nigam Limited (JVVNL), Jaipur<br>
                        SpeechTech System, USA (A technology company for IT Solutions)<br>
                        RAMKY Enviro Engineers Limited, Udaipur (An environmental survey company in Rajasthan)<br>
                        Reliance Foundation (Reliance Biz), Jaipur (A CSR Foundation of Reliance Group)<br>
                        Population Services International (PSI) (A leading Non Government Organization working for Medical, Health and Environment)<br>
                        Sun Pharmaceuticals Limited, Austrlia (Leading Pharma Company)<br>
                        Women’s World Banking, New York (A social enterprise for micro financing to SHG)<br>
                        Arizona State University, Arizona<br>
                        Novartis Pharmaceuticals (Leading Pharma Company)<br>
                        TUV Rheinand<br>
                        Smith Law Firm<br>
                        Dainik Bhaskar&nbsp;(Leading News Paper (dailies) of Rajasthan)
                    </p>
                    <p>Above listed are few of our clients with whom Rajinfo Technology Services Pvt. Ltd. has been working. The mentioned clientele of our company make us competent to deliver projects of any volume in a quick turn around time. We at Rajinfo Technology Services Pvt. Ltd. being well equipped with the latest technologies of information, high-tech infrastructure and highly skilled and dedicated team of professionals is one of the leading outsourcing company to handle projects of any volume with the commitment of quality in a time bound manner.</p>
                </div>
            </div>
        </div>
        </div>
 



