
@{
    ViewBag.Title = "CompanyProfile";
    Layout = "~/Views/Shared/View.cshtml";
}

<h2>CompanyProfile</h2>
<div class="entry">
    <p>
        <strong>The Journey So Far:-</strong><br>
        <strong>Rajinfo Technology Services Pvt. Ltd.</strong> was started in 2009 with the objective of providing all business support services under one roof. Initially Rajinfo Technology Services Pvt. Ltd. was emerged to provide support services related to Information Technology such as Computer Sale, Service, Repair, AMC, Networking but gradually it expanded and diversified its operation from One Stop Outsourcing Solution Provider Company in the field of Translation, Transcription, Interpretation and now providing all type of back office and business support services. In June, 2012 Rajinfo Technology Services was incorporated as a company under Indian Companies Act,1956 and also got the company registered with Directorate General of Foreign Trade (DGFT) for IEC and Part – II from District Industries Center. During this period of about 8 years Rajinfo Technology Services Pvt. Ltd. because of providing best quality outsourcing services in a time bound manner at very reasonable prices and today the company has a clientele of world renowned companies of corporate sector, leading development sector organizations (NGOs) as well as various state and central governments and numerous mid and small size enterprises.
    </p>
    <p>
        <strong>Affiliation : </strong><br>
        Rajinfo Technology Services Pvt. Ltd. is member of Indian Translators Association. The membership no. of the company is A23122015.
    </p>
    <p>
        <strong>Our Clients</strong><br>
        <strong>Rajinfo Technology Services Pvt. Ltd. is serving numerous clients across the globe and below listed are the clients to name a few:-</strong>
    </p>
    <p>
        Infosys Limited, Bangalore<br>
        National Engineering Industries (NBC) Ltd.<br>
        Rajasthan State Co-operative Bank Ltd. (APEX Bank)<br>
        Department of Animal Husbandry, Nagour<br>
        Indian Institute of Health Management and Research<br>
        Sardar Patel University of Police, Security and Criminal Justice<br>
        ABT Associates, New Delhi<br>
        Indian Council of Medical Research<br>
        Sygeta Foundation India<br>
        Larsen and Toubro Limited<br>
        National Dairy Development Board Dairy Services (NDDB), New Delhi<br>
        Rajasthan State Gas Limited (RSGL), Jaipur<br>
        Shri Ram General Insurance Company Limited, Jaipur<br>
        Child Development Project Officer (CDPO), Chaksu<br>
        BGR Energy Systems Limited, Jaipur<br>
        Directorate of Revenue Intelligence, New Delhi<br>
        Hindustan Latex Family Planning Promotion Trust (HLFPPT)<br>
        Engender Health, Jaipur<br>
        WISH Foundation, Jaipur<br>
        Bajaj Auto Finance Limited, Pune<br>
        Hetero Health Care Limited, Mumbai<br>
        Department of Technical Education, Rajasthan<br>
        Tata Motors Limited, Jaipur<br>
        Bajaj Allianz General Insurance Co., Ltd., Jaipur<br>
        Paayas Milk Producers Company Limited<br>
        Mother Dairy, New Delhi<br>
        National Insurance company Ltd. (NIC), Jaipur<br>
        Narayana Hrudayalaya, Narayana Multi Specialty Hospital, Jaipur<br>
        Airport Authority of India (AAI), Jaipur<br>
        Bharat Petroleum Corporation Limited (BPCL) Jaipur<br>
        J. K. Tyre, Rajasthan<br>
        IMRB, Mumbai<br>
        ITC Limited<br>
        Jaipur Vidhyut Vitran Nigam Limited (JVVNL), Jaipur<br>
        SpeechTech System, USA<br>
        RAMKY Enviro Engineers Limited, Udaipur<br>
        Reliance Foundation (Reliance Biz), Jaipur<br>
        Population Services International (PSI)<br>
        Sun Pharmaceuticals Limited, Austrlia<br>
        Women’s World Banking, New York<br>
        Arizona State University, Arizona<br>
        Novartis Pharmaceuticals<br>
        TUV Rheinand<br>
        Smith Law Firm<br>
        Dainik Bhaskar&nbsp;(Leading Hindi News Papers of Rajasthan)<br>
        Indian Institute of Health Management and Research, Jaipur<br>
        Debt Recovery Tribunal (DRT), Government of India)
    </p>
    <p>Above listed are few of our clients for whom Rajinfo Technology Services Pvt. Ltd. has worked or working that make us competent to deliver projects of any volume in a quick turn around time. We at Rajinfo Technology Services Pvt. Ltd. being well equipped with the latest technologies of information, high-tech infrastructure and highly skilled and dedicated team of professionals is one of the leading outsourcing company to handle projects of any volume with the commitment of quality in a time bound manner.</p>
</div>
 